{% load static %}


<link rel="stylesheet" href="{% static 'styles/style.css' %}">


<h2>Бренды</h2>

<a href="{% url 'clothes' %}">Все</a>

{% for brand in brands %}
    <a href="?brand={{ brand.id }}">{{ brand.name }}</a>
{% endfor %}

<hr>

<h2>Одежда</h2>

{% for item in clothes %}
    <div style="margin-bottom: 20px;">
        <h3>{{ item.title }}</h3>
        <img src="{{ item.image.url }}" width="200">

        <p>Бренды:
            {% for brand in item.brands.all %}
                {{ brand.name }}
            {% endfor %}
        </p>

        <p>{{ item.created_at }}</p>
    </div>
{% empty %}
    <p>Одежда не найдена</p>
{% endfor %} 